<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>body {margin: 0;padding: 0;}</style>
    <title>{{{title}}}</title>
</head>
<body>
    <script src="{{{baseUrl}}}/fire.app/{{{fireAppVersion}}}/index.js"></script>

    <script>
        fireApp({
            apps: {{{ toJSON apps }}},
            navigation: {{{ toJSON navigations }}},
            config: {{{ toJSON config }}},
            features: {{{ toJSON features }}},
        });
    </script>

    <div id="root"></div>
</body>
</html>